@using Combres.Mvc;

@section scripts
{
    @* Generate links to resource sets *@
    @Url.CombresLink("siteCss")
    @Url.CombresLink("dotLessCss")
    @Url.CombresLink("siteJs")

    @* Generate JavaScript variables pointing to URLs of resource sets *@
    @Url.EnableClientUrls() 
}

@{ ViewBag.Title = "Combres Mvc Sample"; }

<div id="txt">If you see this message, Combres does NOT work.  Please check Combres documentation to make sure the configuration is done properly.</div>

<script language="javascript">
    $(function () {
        $("#txt").text("If you see this message, Combres works!  View source and browse to Combres URLs if you want to be sure.");
    })
</script>