<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("scripts")
</head>

<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>Combres Mvc Sample</h1>
            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
