/** Effect 1: Remove comments **/    
/**/ .rule1 {font-size: 11px;} /**/
/**/ 
.rule2 {font-size: 12px;} 
/**/
/* */
/* comment */
/* 

comment 

*/
body {
	font-size: 14px;
}


/** Effect 2: Handle variables **/
@brand_color: #4D926A;
 
#header {
  color: @brand_color;
}
 
h2 {
  color: @brand_color;
}


/** Effect 3: Allow mixins **/
.rounded_corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
 
#header {
  .rounded_corners;
}
 
#footer {
  .rounded_corners;
}


/** Effect 3: Support operations **/
@the-border: 1px;
@base-color: #111;
 
#header {
  color: @base-color * 3;
  border-left: @the-border;
  border-right: @the-border * 2;
}
 
#footer { 
  color: (@base-color + #111) * 1.5; 
}


/** Effect 5: Enable nested rules **/
#header {
  color: red;
  a { 
       font-weight: bold; 
       text-decoration: none; 
    } 
}
